.DealsTable--sortButton {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.DealsTable--HeaderRow {
  background-color: #55be90;
  background: linear-gradient(to left bottom, #55be90 15%, #317357 99%);
}
